.stepper-cotizer {
  margin: 0 auto;
  max-width: 200px;
  display: none;
  padding-top: 3rem;
}
.stepper-cotizer.stepper-cotizer--mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
  background-color: white;
}
.stepper-cotizer.stepper-cotizer--mobile > span{
  width: 60%;
}
.stepper-cotizer.stepper-cotizer--mobile> p {
  text-transform: uppercase;
  font-weight: 700;
  color: #676F8F;
}
.stepper-cotizer.stepper-cotizer--mobile button{
  color: #EDEFFC;
  border: 1px solid #EDEFFC;
  width: 1.7rem;
  height: 1.7rem;
}
.stepper-cotizer.stepper-cotizer--mobile svg {
  width: 1rem;
  height: 1rem;
}