.result__banner {
  background: linear-gradient(to right, #FAFBFF 65%, transparent 35%);
  text-align: center;
  padding: 0 1rem;
  height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.result__banner--mobile {
  background: #FAFBFF;
  padding: 0 0;
  height: auto;
}
.result__banner img {
  display: inline-block;;
}
.result__banner--mobile img{
  width: 100%;
}
.result__body {
  max-width: 700px;
  height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #494F66;
  padding: 0 1rem;
}
.result__body--mobile {
  height: auto;
}
.result__body h2{
  font-weight: 500;
  margin-bottom: 2rem;
}
.result__body--mobile h2{
  font-size: 1.9rem;
  line-height: 1.3;
  margin-top: 2rem;
}
.result__body h2 span {
  color: #FF1C44;
  display: block;
}
.result__body h6 {
  font-weight: 300;
  margin-bottom: 2rem;
}
.result__body--mobile h6 {
  color: #676F8F;
}
.result__body h6 span {
  font-weight: 400;
  display: block;
}
.result__body button {
  padding: 1rem 2rem !important;
}
.result__body--mobile button {
  display: block;
  width: 100%;
}
.result__copy {
  border-top: 1px solid #E4E8F7;
  margin-top: 5rem;
  padding: 1.5rem;
  color: #A9AFD9;
}