.coverage-total {
  max-width: 250px;
}
.coverage-total--mobile {
  max-width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 1px 4px rgba(163, 171, 204, 0.06), 0px 8px 30px rgba(20, 43, 127, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: white;
}
.coverage-total--mobile .coverage-total__amount{
  width: 40%;
}
.coverage-total__amount span{
  text-transform: uppercase;
  font-weight: 700;
  color: #494F66;
}
.coverage-total--mobile .coverage-total__amount span {
  display: none;
}
.coverage-total--mobile .coverage-total__amount h6 {
  color: #494F66;
}
.coverage-total__amount h4 {
  color: #494F66;
  margin: .5rem 0;
}
.coverage-total--mobile .coverage-total__amount h4 {
  margin: 0 0;
}
.coverage-total__legend {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #E4E8F7;
  margin-bottom: 2rem;
}
.coverage-total__legend p{
  color: #494F66;
  font-size: 1.1rem;
}
.coverage-total__legend ul {
  padding-left: 0;
  list-style: none;
}
.coverage-total__legend li {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}
.coverage-total__legend svg {
  margin-right: .5rem;
}
.coverage-total--mobile .coverage-total__legend {
  display: none;
}
.coverage-total button{
  padding: 1rem 4rem !important;
}
.coverage-total.coverage-total--mobile button {
  padding: 1rem 22px !important;
  width: 50%;
}