.navbar {
  background-color: transparent !important;
  box-shadow: 0 0 0 transparent !important;
  color: #676F8F !important;
  border: 1px solid #E4E8F7;
}
.navbar.navbar--fixed {
  border: 1px solid transparent;
}
.navbar .navbar__test {
  text-transform: initial !important;
}
.navbar .navbar__phone {
  color: #6F7DFF !important;
  text-transform: capitalize;
  font-size: 1rem;
}
.navbar .navbar__phone svg {
  margin-right: 7px;
}