.coverages h5 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #494F66;
}
.coverages--mobile h5 {
  margin-top: 0;
  padding: 0 1rem;
  font-size: 1.45rem;
}
.coverages .coverages__tabs button {
  font-weight: 700;
  padding-left: 3em;
  padding-right: 3em;
}
.coverages--mobile .coverages__tabs button {
  padding-left: .5em;
  padding-right: .5em;
}